obs/*/home:VIFIBnexedi*
obs/slapos/slapos-node_*
obs/slapos/slapos-recipe-version
obs/slapos/slapos-version
obs/re6st/re6st-node_*
obs/*/templates/debian.tar.gz
obs/slapos/templates/debian/cron.d
obs/slapos/templates/debian/slapos-node.logrotate
debian-preseed/*.iso
*pyc
slapprepare/build
slapprepare/dist
slapprepare/slapprepare.egg-info
*.egg-info
.*.swp
build
dist
playbook/install
