obs/home:VIFIBnexedi*
obs/slapos-node_*
obs/slapos-recipe-version
obs/slapos-version
obs/templates/debian.tar.gz
obs/templates/debian/cron.d
obs/templates/debian/slapos-node.logrotate
debian-preseed/*.iso
*pyc
slapprepare/build
slapprepare/dist
slapprepare/slapprepare.egg-info
*.egg-info
.*.swp
build
dist
