obs/*/home:VIFIBnexedi*
obs/slapos/slapos-node_*
obs/slapos/slapos-recipe-version
obs/slapos/slapos-version
debian.tar.gz
obs/slapos/templates/debian/cron.d
obs/slapos/templates/debian/slapos-node.logrotate
debian-preseed/*.iso
*pyc
slapprepare/build
slapprepare/dist
slapprepare/slapprepare.egg-info
*.egg-info
.*.swp
build/
dist
playbook/install
packer/log
packer/output-*
packer/packer_cache
archive.tar.gz*
packer/shacache/*.crt
packer/shacache/*.key
packer/SHA512SUM.txt
