#!/bin/bash

set -e

#
#  Paste content of function-common
#    https://lab.nexedi.com/nexedi/slapos.package/blob/master/playbook/roles/install-script/files/function-common
#


{{ lookup('file', base_path+'/install/base-setup') }}


#### Setup Ansible and load few libraries #####

PLAYBOOK_REPOSITORY_URL=https://lab.nexedi.com/nexedi/slapos.package.git

is_package_installed git || install_package git

git clone $PLAYBOOK_REPOSITORY_URL
