#!/bin/bash

{{ lookup('file', base_path+'/roles/install-script/files/vm_bootstrap_network') }}

set -e

### Include Bootstrap VM script
###  Contain function-common
##      https://lab.nexedi.com/nexedi/slapos.package/blob/master/playbook/roles/install-script/files/function-common

{{ lookup('file', base_path+'/install/base-setup') }}

download_playbook
clear

echo "Starting Ansible playbook:"


{{ lookup('file', base_path+'/roles/install-script/files/vm_bootstrap_check') }}
